@{
    Layout = null;
    ViewBag.active = 3;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InforMation</title>
    <link rel="stylesheet" href="@Url.Content("/Content/info.css")">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="grid">
        <div class="back">
            <i class="fa-solid fa-house" style="color: #000000;"></i>
            <a href="~/Home/TrangChu">Home</a>
        </div>
        <h1>Informaiton</h1>
    </header>
    <main class="grid">
        <img src="~/image/pexels-photo-7815537.jpeg" alt="" />
        <div class="content">
            <h2>Phan Mai Quốc Kiệt</h2>
            <p>
                etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu consequat ac
            </p>
            <i class="fa-brands fa-facebook fa-bounce fa-xl" style="color: #1157d0;"></i>
            <a href="https://www.facebook.com/profile.php?id=100060686323494"><i>Link FaceBook</i></a>
            <br />
            <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #d72d60;"></i>
            <a href="https://www.instagram.com/ph.kiet_/"><i>Instagram</i></a>
        </div>
        <img src="~/image/pexels-photo-1485640.jpeg" alt="" />
        <div class="content">
            <h2>Nguyễn Quý Trung</h2>
            <p>
                etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu consequat ac
            </p>
            <i class="fa-brands fa-facebook fa-bounce fa-xl" style="color: #1157d0;"></i>
            <a href=""><i>Link FaceBook</i></a>
            <br />
            <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #d72d60;"></i>
            <a href=""><i>Instagram</i></a>
        </div>
        <img src="~/image/pexels-photo-4691384.jpeg" alt="" />
        <div class="content">
            <h2>Hoàng Thanh Phong</h2>
            <p>
                etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu consequat ac
            </p>
            <i class="fa-brands fa-facebook fa-bounce fa-xl" style="color: #1157d0;"></i>
            <a href="https://www.facebook.com/profile.php?id=100013610265814"><i>Link FaceBook</i></a>
            <br />
            <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #d72d60;"></i>
            <a href="https://www.instagram.com/phongecchiok?fbclid=IwAR1bemDs_R0poSIO2dtIpIplt-MnRHB9e6S41bjDBhzMONp7fen48jgJCLk"><i>Instagram</i></a>
        </div>
        <img src="~/image/bouquet-3175315_640.jpg" alt="" />
        <div class="content">
            <h2>Lê Hoàng Tú</h2>
            <p>
                etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus viverra vitae congue eu consequat ac
            </p>
            <i class="fa-brands fa-facebook fa-bounce fa-xl" style="color: #1157d0;"></i>
            <a href="https://www.facebook.com/profile.php?id=100014289033962"><i>Link FaceBook</i></a>
            <br />
            <i class="fa-brands fa-instagram fa-bounce fa-xl" style="color: #d72d60;"></i>
            <a href=""><i>Instagram</i></a>
        </div>
    </main>
</body>
</html>
